<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>atk_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,244},{15,41}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,143},{15,43}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,81},{13,42}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,356},{14,37}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,126},{17,43}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,405},{15,34}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,0},{17,36}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,190},{20,37}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,227},{18,41}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,138},{25,37}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,35},{32,35}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{33,35}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,60},{21,44}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,26},{34,29}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{34,32}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,104},{30,34}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,389},{16,41}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,227},{19,42}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{26,40}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,246},{21,37}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{20,43}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,49},{27,33}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,246},{27,35}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,482},{24,35}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,0},{17,41}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,301},{20,34}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,69},{26,38}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{29,37}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,76},{18,42}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,173},{29,32}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{29,34}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_left_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,245},{22,35}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{17,39}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,26},{25,36}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{32,32}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,141},{32,32}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,246},{21,39}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,247},{34,29}}</string>
				<key>offset</key>
				<string>{10,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,35},{34,30}}</string>
				<key>offset</key>
				<string>{10,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{30,32}}</string>
				<key>offset</key>
				<string>{8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,354},{16,40}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,0},{21,41}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,0},{26,39}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,95},{28,33}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,45},{17,42}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,95},{29,31}}</string>
				<key>offset</key>
				<string>{7,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,213},{29,33}}</string>
				<key>offset</key>
				<string>{7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,475},{22,36}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,112},{16,40}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,280},{19,34}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{26,36}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,346},{22,36}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{19,40}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,205},{26,31}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,20},{27,32}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_right_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,306},{24,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,112},{15,41}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{15,35}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,267},{13,40}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,81},{14,39}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,414},{17,41}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,419},{15,32}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,162},{18,33}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>atk_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,94},{20,36}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,128},{17,37}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,145},{17,37}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,54},{17,36}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,35},{17,36}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,17},{17,36}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,0},{17,36}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,128},{17,37}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,81},{17,37}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,163},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,195},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,163},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,195},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,126},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,94},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,158},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,126},{25,32}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,280},{20,34}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,227},{20,34}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,72},{21,34}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,299},{20,33}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,474},{21,33}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,190},{20,34}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,158},{20,34}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,114},{20,34}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,93},{19,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,201},{19,34}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,168},{19,34}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,346},{25,33}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{25,34}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,380},{25,34}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,313},{25,33}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,313},{26,33}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,414},{25,34}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,448},{25,34}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,281},{25,33}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,455},{19,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,370},{19,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,62},{19,35}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,41},{19,35}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,17},{19,35}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,300},{19,35}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,337},{19,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,370},{19,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,332},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,299},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,259},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,299},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,279},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,178},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,148},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_right_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,112},{20,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,71},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,71},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,52},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,34},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,17},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,0},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,69},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,201},{17,36}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,267},{13,36}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,439},{14,36}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,187},{14,37}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,389},{14,35}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,370},{14,35}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,352},{14,35}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,98},{14,37}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,453},{14,36}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,51},{28,32}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,94},{25,32}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,474},{21,33}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,190},{24,32}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,47},{25,32}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,158},{24,32}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,414},{21,33}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,20},{25,32}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,158},{23,32}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,447},{21,33}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,60},{19,33}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,468},{21,33}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,19},{22,32}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,339},{21,33}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,211},{20,33}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,259},{20,33}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,335},{19,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,184},{17,33}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,201},{16,32}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,34},{16,33}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,127},{18,33}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,17},{16,33}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,299},{15,32}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_left_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,145},{17,33}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,21},{28,32}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,379},{25,32}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,304},{21,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,126},{24,32}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,411},{25,32}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,94},{24,32}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,372},{21,33}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,443},{25,32}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,300},{19,35}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,237},{17,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,69},{15,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,105},{16,35}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,36},{18,34}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,69},{16,35}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,51},{15,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_down_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,201},{17,36}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,281},{23,34}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,405},{21,33}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,168},{20,33}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,337},{21,33}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,382},{22,32}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,304},{21,33}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,164},{20,32}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_right_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,280},{21,33}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,267},{14,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,405},{14,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,254},{14,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,313},{14,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,299},{14,34}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,279},{14,34}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,233},{14,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>move_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,332},{14,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,17},{18,34}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,280},{19,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,145},{19,34}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,261},{19,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>idle_left_up_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,224},{19,35}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>00001.png</string>
			<key>realTextureFileName</key>
			<string>00001.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>